
.vs/ShoesStore/FileContentIndex/b4edefb0-444b-4aac-ae03-5a633312ad8b.vsidx

obj/Debug/net8.0/ShoesStore.AssemblyInfoInputs.cache

obj/Debug/net8.0/ShoesStore.AssemblyInfo.cs

*.cache

obj/Debug/net8.0/rpswa.dswa.cache.json

.vs/ShoesStore/FileContentIndex/b3153007-cca4-4d47-94ee-83d59ec9e68a.vsidx

.vs/ShoesStore/FileContentIndex/ed8d761b-78a2-4256-a341-d78ff809aae5.vsidx

.vs/ShoesStore/FileContentIndex/0d527ffa-125f-4d13-8b98-4d7255e90727.vsidx

.vs/ShoesStore/FileContentIndex/fd208e18-607c-499b-a55a-c76b357c805a.vsidx

*.vsidx

.vs/ShoesStore/v17/.suo
